body {
    margin: 0;
}

.banner {
    background: linear-gradient(to right, transparent, #83e173);
    color: greenyellow;
    font-family: Hack, Arial, sans-serif;
    margin: 0;
    padding: 0px;
    height: 32px;
}

.marquee {
    background-color: #000000;
    color: greenyellow;
    font-family: Hack, Arial, sans-serif;
    margin: 0;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    z-index: 9001;
}

.animation {
    position: fixed;
    top: -20px;
    left: 0;
    width: 64px;
    margin: 0;
    z-index: 1;
}