html {
    font-family: Hack, 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

.banner {
    background: linear-gradient(to right, transparent, #292929);
    color: greenyellow;
    margin: 0;
    padding: 0px;
    height: 24px;
}

.marquee {
    background-color: #00000000;
    color: greenyellow;
    margin: 0;
    padding: 1px;
    padding-top: 3px;
    padding-bottom: 2px;
    position: fixed;
    z-index: 9001;
}

.animation {
    position: fixed;
    left: 0;
    width: 64px;
    margin: 0;
    z-index: 1;
}

@keyframes marquee {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee-text {
    animation: marquee 42s linear infinite;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100vw;
}